<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Customer Dashboard</title>
  <link rel="icon" href="/images/logo.png" id="logo">
  <link rel="stylesheet" href="/homeStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Carter+One&family=Emilys+Candy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <div class="container">
  <div class="sidebar-top">
     <div class="search-box">
        <input
            type="text"
            id="search"
            placeholder="Search foods..."
        >
        <button>Search</button>
     </div>
     <div class="user-profile">
        <h4><i class="fa-solid fa-user"></i> Profile</h4>
     </div>
  </div>
  <div class="menu-and-sidebar">
  <div class="sidebar-left">
    <img src="/images/logo.png" id="logo">
    <nav>
    <div class="nav-bar">
    <a href="/home">Home</a>
    <a href="/menu">Menu</a>
    <a href="/cart">Cart</a>
    <a href="/orders">My Orders</a>
    <a href="/rewards">Rewards</a>
    <a href="/home/profile">Profile</a>
    <a href="/logout">Logout</a>
    </div>
    </nav>
  </div>
  <div class="main-menu">
       <div class="row1">
        <div class="item1">
          <img src="/images/vegpizza.png">
          <p>Veg cheez Pizza &nbsp;&nbsp;&#8377 99 only</p>
          <br/>
          <button>Place Order</button>
        </div>
        <div class="item1">
          <img src="/images/veg_momos.png">
          <p>Veg Momos &nbsp;&nbsp;&#8377 99 only</p>
          <br/>
          <button>Place Order</button>
        </div>
        <div class="item1">
          <img src="/images/veg-panner-rool.png">
          <p>Veg Panner Rool &nbsp;&nbsp;&#8377 119 only</p>
          <br/>
          <button>Place Order</button>
        </div>
       </div>
       
        <div class="row1">
        <div class="item1">
          <img src="/images/vegpizza.png">
          <p>Veg cheez Pizza &nbsp;&nbsp;&#8377 99 only</p>
          <br/>
          <button>Place Order</button>
        </div>
        <div class="item1">
          <img src="/images/veg_momos.png">
          <p>Veg Momos &nbsp;&nbsp;&#8377 99 only</p>
          <br/>
          <button>Place Order</button>
        </div>
        <div class="item1">
          <img src="/images/veg-panner-rool.png">
          <p>Veg Panner Rool &nbsp;&nbsp;&#8377 119 only</p>
          <br/>
          <button>Place Order</button>
        </div>
       </div>

        <div class="row1">
        <div class="item1">
          <img src="/images/vegpizza.png">
          <p>Veg cheez Pizza &nbsp;&nbsp;&#8377 99 only</p>
          <br/>
          <button>Place Order</button>
        </div>
        <div class="item1">
          <img src="/images/veg_momos.png">
          <p>Veg Momos &nbsp;&nbsp;&#8377 99 only</p>
          <br/>
          <button>Place Order</button>
        </div>
        <div class="item1">
          <img src="/images/veg-panner-rool.png">
          <p>Veg Panner Rool &nbsp;&nbsp;&#8377 119 only</p>
          <br/>
          <button>Place Order</button>
        </div>
       </div>

        <div class="row1">
        <div class="item1">
          <img src="/images/vegpizza.png">
          <p>Veg cheez Pizza &nbsp;&nbsp;&#8377 99 only</p>
          <br/>
          <button>Place Order</button>
        </div>
        <div class="item1">
          <img src="/images/veg_momos.png">
          <p>Veg Momos &nbsp;&nbsp;&#8377 99 only</p>
          <br/>
          <button>Place Order</button>
        </div>
        <div class="item1">
          <img src="/images/veg-panner-rool.png">
          <p>Veg Panner Rool &nbsp;&nbsp;&#8377 119 only</p>
          <br/>
          <button>Place Order</button>
        </div>
       </div>


  </div>
  </div>
   <div class="sidebar-buttom"></div>
  </div>
</body>
</html>