<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up Customer</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
   <form class="login-user">
    <div class="login-info" id="login-info2">
      <h1>Sign UP</h1>
      <br/><br/><br/>
      <label id="label-name" for="email">Email</label>
       <br/><br/>
      <input placeholder="enter your email" name="email" type="email" id="email">
       <br/><br/><br/>
             <label id="label-name" for="name">Name</label>
       <br/><br/>
      <input placeholder="enter your email" name="name" type="text" id="name">
       <br/><br/><br/>
      <label id="label-name" id="password">Password</label>
       <br/><br/>
      <input placeholder="enter password" name="password" type="password" id="password">
       <br/><br/> <br/><br/><br/>
      <div class="btn-div">
        <a href="/login" class="btn">Login</a> 
        <a href="/signup" class="btn" id="right-btn">Sign Up</button></a>
      </div>
      </div>
      <div class="login-image">
         <img src="/images/login-page.png">
      </div>
  </form>
</body>
</html>